$primaryColor: rgb(13, 48, 130);
$secondaryColor: rgb(255, 255, 255);
$accentColor: rgb(255, 234, 0);
$menuColor:#7ee7ff;
$overlayFont: "Share Tech Mono", serif;
$fontColor: #333;
$headerFont: "Playfair Display", serif;
$defaultFont: "Open Sans", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 600;
$gutter: 16px;
